<%= stylesheet_link_tag "user" %>
<section class="user-row">
  <div class="profile-photo">
    <img class="placeholder-photo"></img>
  </div>
  <div class="user">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter || 0 %></p>
    <button>
      <%= link_to 'add Post', controller: 'posts', action: 'new' %>
    </button>
  </div>
</section>
<section class="bio">
  <h4>Bio</h4>
  <p><%= @user.bio %></p>
</section>
<section class="posts">
  <% @recent_posts.each_with_index do |post, idx| %>
    <article class="post" id="<%= idx %>">
      <h3><%= link_to post.title, controller: "posts", action: "show", user_id: @user.id, post_id: post.id %></h3>
      <p><%= post.text %></p>
      <div class="reactions">
        <p>Comments: <%= post.comments_counter || 0 %>,&nbsp;</p>
        <p>Likes: <%= post.likes_counter || 0 %></p>
      </div>
    </article>
  <% end %>
</section>
<footer>
  <button class="footer-btn">
    <%= link_to 'See all Post', user_posts_path(@user) %>
  </button>
</footer>