<%= stylesheet_link_tag "user" %>
<section class="user-row">
  <div class="profile-photo">
    <img class="placeholder-photo"></img>
  </div>
  <div class="user">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter || 0 %></p>
    <% if can?(:manage, Post) && @user.id == current_user.id %>
      <%= button_to("add Post", new_post_path(@user), method: :get) %>
    <% end %>
  </div>
</section>
<section class="bio">
  <h4>Bio</h4>
  <p><%= @user.bio %></p>
</section>
<section class="posts">
  <% @recent_posts.each_with_index do |post, idx| %>
    <article class="post" id="<%= idx %>">
      <h3><%= link_to post.title, controller: "posts", action: "show", user_id: @user.id, post_id: post.id %></h3>
      <p><%= post.text %></p>
      <div class="reactions">
        <p>Comments: <%= post.comments_counter || 0 %>,&nbsp;</p>
        <p>Likes: <%= post.likes_counter || 0 %></p>
      </div>
    </article>
  <% end %>
</section>
<footer>
  <%= button_to("See all Post", user_posts_path(@user), method: :get, class: 'footer-btn') %>
</footer>
