<%= stylesheet_link_tag "form" %>
<%= form_with model: @post, url: "/users/#{@user_id}/posts/create", class: "post-form" do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
  <%= form.label :text %><br>
  <%= form.text_area :text %>
  <button type="submit">Add post</button>
<% end %>
