<%= stylesheet_link_tag "post" %>
<article class="post" id="<%= @post.id %>">
  <div class="post-title">
    <h3><%= @post.title %>&nbsp;<span class="username">by <%= @post.user.name %></span></h3>
  </div>
  <div class="reactions">
    <p>Comments: <%= @post.comments_counter || 0 %>,&nbsp;</p>
    <p>Likes: <%= @post.likes_counter || 0 %></p>
  </div>
  <div class="actions">
    <button>
      <%= link_to 'add Comment', controller: 'comments', action: 'new' %>
    </button>
    <button>
      <%= link_to 'add Like', controller: 'likes', action: 'create' %>
    </button>
  </div>
  <p><%= @post.text %></p>
  <div class="comments">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p><strong><%= comment.user.name %></strong>: <%= comment.text %></p>
      </div>
    <% end %>
  </div>
</article>